pipeline/Master CRM.json
{
	"name": "Master CRM",
	"properties": {
		"activities": [
			{
				"name": "All CRM to MySQL",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "All_CRM_MySQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach_cox",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "All CRM to MySQL",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_cox",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "sltsqldbdev.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "sltsqldbdev.@{item().destination.table}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@concat('TRUNCATE TABLE sltsqldbdev.',item().destination.table)",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SQL_CRM",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Synapse_CRM",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().destination.table"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "CRM"
		},
		"annotations": []
	}
}