adfsltdev/PartialArmTemplates/ArmTemplate_9_29_2020_16_32_25.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfsltdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Employee Compensation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_EmpCompensation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeCompensation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntrawzonesltdev/BambooHR/EmployeeCompensation"
							},
							{
								"name": "Destination",
								"value": "cntcuratedzonesltdev/Bamboo HR/TestCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['startDate']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['rate']['currency']"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rate']['value']"
										},
										"sink": {
											"name": "pay"
										}
									},
									{
										"source": {
											"path": "$['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['exempt']"
										},
										"sink": {
											"name": "exempt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reason']"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['comment']"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['paidPer']"
										},
										"sink": {
											"name": "paidPer",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['paySchedule']"
										},
										"sink": {
											"name": "paySchedule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['overtimeRate']['currency']"
										},
										"sink": {
											"name": "currencyOvertime"
										}
									},
									{
										"source": {
											"path": "$['overtimeRate']['value']"
										},
										"sink": {
											"name": "valueOvertime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_EmpCompensation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE HR.EmpCompensation",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pay",
											"type": "String"
										},
										"sink": {
											"name": "pay",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "exempt",
											"type": "String"
										},
										"sink": {
											"name": "exempt",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason",
											"type": "String"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "comment",
											"type": "String"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "paidPer",
											"type": "String"
										},
										"sink": {
											"name": "paidPer",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "paySchedule",
											"type": "String"
										},
										"sink": {
											"name": "paySchedule",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "currencyOvertime",
											"type": "String"
										},
										"sink": {
											"name": "currencyOvertime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "valueOvertime",
											"type": "String"
										},
										"sink": {
											"name": "valueOvertime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeCompensation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employee Directory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeDirectory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_EmployeeDirectory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "displayName",
											"type": "String"
										},
										"sink": {
											"name": "displayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "firstName",
											"type": "String"
										},
										"sink": {
											"name": "firstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lastName",
											"type": "String"
										},
										"sink": {
											"name": "lastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "preferredName",
											"type": "String"
										},
										"sink": {
											"name": "preferredName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gender",
											"type": "String"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "jobTitle",
											"type": "String"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workPhone",
											"type": "String"
										},
										"sink": {
											"name": "workPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mobilePhone",
											"type": "String"
										},
										"sink": {
											"name": "mobilePhone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workEmail",
											"type": "String"
										},
										"sink": {
											"name": "workEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "department",
											"type": "String"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "linkedIn",
											"type": "String"
										},
										"sink": {
											"name": "linkedIn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workPhoneExtension",
											"type": "String"
										},
										"sink": {
											"name": "workPhoneExtension",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "photoUploaded",
											"type": "Boolean"
										},
										"sink": {
											"name": "photoUploaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "photoUrl",
											"type": "String"
										},
										"sink": {
											"name": "photoUrl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "canUploadPhoto",
											"type": "Int32"
										},
										"sink": {
											"name": "canUploadPhoto",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_EmployeeDirectory",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeDirectory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['displayName']"
										},
										"sink": {
											"name": "displayName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstName']"
										},
										"sink": {
											"name": "firstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['lastName']"
										},
										"sink": {
											"name": "lastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['preferredName']"
										},
										"sink": {
											"name": "preferredName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['gender']"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['jobTitle']"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workPhone']"
										},
										"sink": {
											"name": "workPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['mobilePhone']"
										},
										"sink": {
											"name": "mobilePhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workEmail']"
										},
										"sink": {
											"name": "workEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['department']"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['location']"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['division']"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['linkedIn']"
										},
										"sink": {
											"name": "linkedIn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workPhoneExtension']"
										},
										"sink": {
											"name": "workPhoneExtension",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['photoUploaded']"
										},
										"sink": {
											"name": "photoUploaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['photoUrl']"
										},
										"sink": {
											"name": "photoUrl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['canUploadPhoto']"
										},
										"sink": {
											"name": "canUploadPhoto",
											"type": "Int16"
										}
									}
								],
								"collectionReference": "$['employees']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employee Job Information')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_JobInformation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_JobInformation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_JobInformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_JobInformation",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_JobInformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['location']"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['department']"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['division']"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['jobTitle']"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reportsTo']"
										},
										"sink": {
											"name": "reportsTo",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeJobInformation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_JobInformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE HR.EmpCompensation",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "department",
											"type": "String"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "jobTitle",
											"type": "String"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reportsTo",
											"type": "String"
										},
										"sink": {
											"name": "reportsTo",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeJobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeJobInformation",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_JobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_JobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeJobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeJobInformation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employee TimeOff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeTimeOff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_EmployeeTimeOff",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmployeeTimeOff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['status']['lastChanged']"
										},
										"sink": {
											"name": "lastChanged",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['status']['lastChangedByUserId']"
										},
										"sink": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['status']['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['end']"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['created']"
										},
										"sink": {
											"name": "createdDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['type']['id']"
										},
										"sink": {
											"name": "TypeID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['type']['name']"
										},
										"sink": {
											"name": "LeaveType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['amount']['unit']"
										},
										"sink": {
											"name": "LeaveUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['amount']['amount']"
										},
										"sink": {
											"name": "Amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['actions']['view']"
										},
										"sink": {
											"name": "Action-view",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['edit']"
										},
										"sink": {
											"name": "Action-edit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['cancel']"
										},
										"sink": {
											"name": "Action-cancel",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['approve']"
										},
										"sink": {
											"name": "Action-approve",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['deny']"
										},
										"sink": {
											"name": "Action-deny",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['bypass']"
										},
										"sink": {
											"name": "Action-bypass",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_EmployeeTimeOff",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lastChanged",
											"type": "DateTime"
										},
										"sink": {
											"name": "lastChanged",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										},
										"sink": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TypeID",
											"type": "Int64"
										},
										"sink": {
											"name": "TypeID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "LeaveType",
											"type": "String"
										},
										"sink": {
											"name": "LeaveType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LeaveUnit",
											"type": "String"
										},
										"sink": {
											"name": "LeaveUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Action-view",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-view",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-edit",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-edit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-cancel",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-cancel",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-approve",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-approve",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-deny",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-deny",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-bypass",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-bypass",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeTimeOff')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Employment Status')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmploymentStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_EmploymentStatus",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_EmploymentStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['employmentStatus']"
										},
										"sink": {
											"name": "employmentStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['comment']"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationReasonId']"
										},
										"sink": {
											"name": "terminationReasonId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationTypeId']"
										},
										"sink": {
											"name": "terminationTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationRehireId']"
										},
										"sink": {
											"name": "terminationRehireId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['benetracStatus']"
										},
										"sink": {
											"name": "benetracStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['gusto']"
										},
										"sink": {
											"name": "gusto",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_EmploymentStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "employmentStatus",
											"type": "String"
										},
										"sink": {
											"name": "employmentStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "comment",
											"type": "String"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationReasonId",
											"type": "String"
										},
										"sink": {
											"name": "terminationReasonId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationTypeId",
											"type": "String"
										},
										"sink": {
											"name": "terminationTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationRehireId",
											"type": "String"
										},
										"sink": {
											"name": "terminationRehireId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "benetracStatus",
											"type": "String"
										},
										"sink": {
											"name": "benetracStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gusto",
											"type": "String"
										},
										"sink": {
											"name": "gusto",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmploymentStatus')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE HR.EmpCompensation",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "currency",
											"type": "String"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pay",
											"type": "String"
										},
										"sink": {
											"name": "pay",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "exempt",
											"type": "String"
										},
										"sink": {
											"name": "exempt",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reason",
											"type": "String"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "comment",
											"type": "String"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "paidPer",
											"type": "String"
										},
										"sink": {
											"name": "paidPer",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "paySchedule",
											"type": "String"
										},
										"sink": {
											"name": "paySchedule",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "currencyOvertime",
											"type": "String"
										},
										"sink": {
											"name": "currencyOvertime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "valueOvertime",
											"type": "String"
										},
										"sink": {
											"name": "valueOvertime",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeCompensation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "displayName",
											"type": "String"
										},
										"sink": {
											"name": "displayName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "firstName",
											"type": "String"
										},
										"sink": {
											"name": "firstName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "lastName",
											"type": "String"
										},
										"sink": {
											"name": "lastName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "preferredName",
											"type": "String"
										},
										"sink": {
											"name": "preferredName",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gender",
											"type": "String"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "jobTitle",
											"type": "String"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workPhone",
											"type": "String"
										},
										"sink": {
											"name": "workPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "mobilePhone",
											"type": "String"
										},
										"sink": {
											"name": "mobilePhone",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workEmail",
											"type": "String"
										},
										"sink": {
											"name": "workEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "department",
											"type": "String"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "linkedIn",
											"type": "String"
										},
										"sink": {
											"name": "linkedIn",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "workPhoneExtension",
											"type": "String"
										},
										"sink": {
											"name": "workPhoneExtension",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "photoUploaded",
											"type": "Boolean"
										},
										"sink": {
											"name": "photoUploaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "photoUrl",
											"type": "String"
										},
										"sink": {
											"name": "photoUrl",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "canUploadPhoto",
											"type": "Int32"
										},
										"sink": {
											"name": "canUploadPhoto",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeDirectory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeJobInformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeJobInformation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"preCopyScript": "TRUNCATE TABLE HR.EmpCompensation",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": false
								},
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "location",
											"type": "String"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "department",
											"type": "String"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "division",
											"type": "String"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "jobTitle",
											"type": "String"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "reportsTo",
											"type": "String"
										},
										"sink": {
											"name": "reportsTo",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeJobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeJobInformation",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeJobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeJobInformation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "lastChanged",
											"type": "DateTime"
										},
										"sink": {
											"name": "lastChanged",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										},
										"sink": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "status",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "createdDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "TypeID",
											"type": "Int64"
										},
										"sink": {
											"name": "TypeID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "LeaveType",
											"type": "String"
										},
										"sink": {
											"name": "LeaveType",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LeaveUnit",
											"type": "String"
										},
										"sink": {
											"name": "LeaveUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Amount",
											"type": "Double"
										},
										"sink": {
											"name": "Amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"name": "Action-view",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-view",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-edit",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-edit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-cancel",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-cancel",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-approve",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-approve",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-deny",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-deny",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"name": "Action-bypass",
											"type": "Boolean"
										},
										"sink": {
											"name": "Action-bypass",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmployeeTimeOff')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "employmentStatus",
											"type": "String"
										},
										"sink": {
											"name": "employmentStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "comment",
											"type": "String"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationReasonId",
											"type": "String"
										},
										"sink": {
											"name": "terminationReasonId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationTypeId",
											"type": "String"
										},
										"sink": {
											"name": "terminationTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "terminationRehireId",
											"type": "String"
										},
										"sink": {
											"name": "terminationRehireId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "benetracStatus",
											"type": "String"
										},
										"sink": {
											"name": "benetracStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "gusto",
											"type": "String"
										},
										"sink": {
											"name": "gusto",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_EmploymentStatus')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_CURATED_TO_SYNAP_Who_is_out')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_Who_is_out",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_Who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_Who_is_out",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS CURATED to SYNAPSE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_Who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_Who_is_out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR",
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_JobInformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_JobInformation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_JobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_who_is_out')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_who_is_out",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS STORAGE"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches employee compensation from Bamboo HR to ADLS RAw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeCompensation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeCompensation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches employee directory from Bamboo HR to ADLS RAw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeDirectory",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeDirectory')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches Employee TimeOff detailsfrom Bamboo HR to ADLS RAw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmployeeTimeOff",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeTimeOff')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches employment status for all employees from Bamboo HR to ADLS RAw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_EmploymentStatus",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmploymentStatus')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_JobInformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches employee Job Information from Bamboo HR to ADLS Raw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_JobInformation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "setOfObjects"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_JobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_JobInformation')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_DATA_HR_TO_ADLS_Who_is_out')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Fetches who is out from the start of month to 31 days from start from Bamboo HR to ADLS RAw zone through API (as-is json files)",
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_Who_is_out",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/REST API TO ADLS RAW"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_who_is_out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_EmpCompensation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_EmpCompensation",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntrawzonesltdev/BambooHR/EmployeeCompensation"
							},
							{
								"name": "Destination",
								"value": "cntcuratedzonesltdev/Bamboo HR/TestCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['startDate']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['rate']['currency']"
										},
										"sink": {
											"name": "currency",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['rate']['value']"
										},
										"sink": {
											"name": "pay"
										}
									},
									{
										"source": {
											"path": "$['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['exempt']"
										},
										"sink": {
											"name": "exempt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reason']"
										},
										"sink": {
											"name": "reason",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['comment']"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['paidPer']"
										},
										"sink": {
											"name": "paidPer",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['paySchedule']"
										},
										"sink": {
											"name": "paySchedule",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['overtimeRate']['currency']"
										},
										"sink": {
											"name": "currencyOvertime"
										}
									},
									{
										"source": {
											"path": "$['overtimeRate']['value']"
										},
										"sink": {
											"name": "valueOvertime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeCompensation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeCompensation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_EmployeeDirectory",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "[['displayName']"
										},
										"sink": {
											"name": "displayName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['firstName']"
										},
										"sink": {
											"name": "firstName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['lastName']"
										},
										"sink": {
											"name": "lastName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['preferredName']"
										},
										"sink": {
											"name": "preferredName",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['gender']"
										},
										"sink": {
											"name": "gender",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['jobTitle']"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workPhone']"
										},
										"sink": {
											"name": "workPhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['mobilePhone']"
										},
										"sink": {
											"name": "mobilePhone",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workEmail']"
										},
										"sink": {
											"name": "workEmail",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['department']"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['location']"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['division']"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['linkedIn']"
										},
										"sink": {
											"name": "linkedIn",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['workPhoneExtension']"
										},
										"sink": {
											"name": "workPhoneExtension",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['photoUploaded']"
										},
										"sink": {
											"name": "photoUploaded",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "[['photoUrl']"
										},
										"sink": {
											"name": "photoUrl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['canUploadPhoto']"
										},
										"sink": {
											"name": "canUploadPhoto",
											"type": "Int16"
										}
									}
								],
								"collectionReference": "$['employees']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeDirectory",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeDirectory')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_EmployeeTimeOff",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['status']['lastChanged']"
										},
										"sink": {
											"name": "lastChanged",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['status']['lastChangedByUserId']"
										},
										"sink": {
											"name": "lastChangedByUserId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['status']['status']"
										},
										"sink": {
											"name": "status",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['end']"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['created']"
										},
										"sink": {
											"name": "createdDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['type']['id']"
										},
										"sink": {
											"name": "TypeID",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['type']['name']"
										},
										"sink": {
											"name": "LeaveType",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['amount']['unit']"
										},
										"sink": {
											"name": "LeaveUnit",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['amount']['amount']"
										},
										"sink": {
											"name": "Amount",
											"type": "Double"
										}
									},
									{
										"source": {
											"path": "$['actions']['view']"
										},
										"sink": {
											"name": "Action-view",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['edit']"
										},
										"sink": {
											"name": "Action-edit",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['cancel']"
										},
										"sink": {
											"name": "Action-cancel",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['approve']"
										},
										"sink": {
											"name": "Action-approve",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['deny']"
										},
										"sink": {
											"name": "Action-deny",
											"type": "Boolean"
										}
									},
									{
										"source": {
											"path": "$['actions']['bypass']"
										},
										"sink": {
											"name": "Action-bypass",
											"type": "Boolean"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmployeeTimeOff",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmployeeTimeOff')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_EmploymentStatus",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['employmentStatus']"
										},
										"sink": {
											"name": "employmentStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['comment']"
										},
										"sink": {
											"name": "comment",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationReasonId']"
										},
										"sink": {
											"name": "terminationReasonId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationTypeId']"
										},
										"sink": {
											"name": "terminationTypeId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['terminationRehireId']"
										},
										"sink": {
											"name": "terminationRehireId",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['benetracStatus']"
										},
										"sink": {
											"name": "benetracStatus",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['gusto']"
										},
										"sink": {
											"name": "gusto",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_EmploymentStatus",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_EmploymentStatus')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_JobInformation')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_JobInformation",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "date",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['location']"
										},
										"sink": {
											"name": "location",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['department']"
										},
										"sink": {
											"name": "department",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['division']"
										},
										"sink": {
											"name": "division",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['jobTitle']"
										},
										"sink": {
											"name": "jobTitle",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['reportsTo']"
										},
										"sink": {
											"name": "reportsTo",
											"type": "String"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_JobInformation",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_JobInformation')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_TRANS_ADLK_HR_who_is_out')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_TRANS_ADLK_HR_who_is_out",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['end']"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/ADLS RAW to ADLS CURATED"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Who is out')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PL_DATA_HR_TO_ADLS_Who_is_out",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "cntrawzonesltdev/BambooHR/FILE_BAMBOOHR"
							}
						],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_RAW_TO_ADLS_STORAGE_who_is_out",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_Who_is_out",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "BambooHR"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_STORAGE",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_TRANS_ADLK_HR_who_is_out",
						"description": "Flattened directory data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_DATA_HR_TO_ADLS_Who_is_out",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['type']"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['employeeId']"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"path": "$['name']"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['start']"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"path": "$['end']"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_RAW_HR_who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "PL_DATA_ADLS_CURATED_TO_SYNAP_Who_is_out",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "PL_TRANS_ADLK_HR_who_is_out",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "cntcuratedzonesltdev/Bamboo HR/EmployeeCompensation.parquet"
							},
							{
								"name": "Destination",
								"value": "HR.EmpCompensation"
							}
						],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": true,
								"polyBaseSettings": {
									"rejectValue": 0,
									"rejectType": "value",
									"useTypeDefault": true
								},
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"parallelCopies": 3,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int64"
										},
										"sink": {
											"name": "id",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"name": "type",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "employeeId",
											"type": "Int64"
										},
										"sink": {
											"name": "employeeId",
											"type": "Int64"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"name": "name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "startDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "startDate",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "endDate",
											"type": "DateTime"
										},
										"sink": {
											"name": "endDate",
											"type": "DateTime"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CURATED_HR_Who_is_out",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SYNAPSE_HR_Who_is_out",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "HR/Master Pipelines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_HR_who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_RAW_HR_who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_STORAGE')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CURATED_HR_Who_is_out')]",
				"[concat(variables('factoryId'), '/datasets/DS_SYNAPSE_HR_Who_is_out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeCompensation.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeDirectory.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_EmployeeJobInformation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JobInformation.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeTimeOff.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmploymentStatus.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CURATED_HR_Who_is_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS CURATED"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "who_is_out.parquet",
						"folderPath": "Bamboo HR",
						"fileSystem": "cntcuratedzonesltdev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "employeeId",
						"type": "INT64"
					},
					{
						"name": "startDate",
						"type": "INT96"
					},
					{
						"name": "currency",
						"type": "UTF8"
					},
					{
						"name": "pay",
						"type": "UTF8"
					},
					{
						"name": "type",
						"type": "UTF8"
					},
					{
						"name": "exempt",
						"type": "UTF8"
					},
					{
						"name": "reason",
						"type": "UTF8"
					},
					{
						"name": "comment",
						"type": "UTF8"
					},
					{
						"name": "paidPer",
						"type": "UTF8"
					},
					{
						"name": "paySchedule",
						"type": "UTF8"
					},
					{
						"name": "currencyOvertime",
						"type": "UTF8"
					},
					{
						"name": "valueOvertime",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS STORAGE"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeCompensation",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeCompensation",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeDirectory",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmployeeTimeOff",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "EmploymentStatus",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_JobInformation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "JobInformation",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_RAW_HR_who_is_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS RAW"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "who_is_out",
						"folderPath": "BambooHR",
						"fileSystem": "cntrawzonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_STORAGE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/ADLS STORAGE"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('BambooHR/',utcnow('yyyy-MM-dd'))",
							"type": "Expression"
						},
						"fileSystem": "cntstoragezonesltdev"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v1/employees/all/tables/compensation "
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v1/employees/directory"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('v1/time_off/requests/?start=2019-09-01','&end=',adddays(utcnow(),31,'yyyy-MM-dd'))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v1/employees/all/tables/employmentStatus  "
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_JobInformation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "v1/employees/all/tables/jobInfo"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_HR_who_is_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_BAMBOOHR",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/HR REST ENDPOINT"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('v1/time_off/whos_out/?start=2019-09-01','&end=',adddays(utcnow(),31,'yyyy-MM-dd'))",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_BAMBOOHR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_EmployeeCompensation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EmpCompensation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_EmployeeDirectory')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EmpDirectory"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_EmployeeJobInformation')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EmpJobInformation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_EmployeeTimeOff')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EmpTimeOff"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_EmploymentStatus')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "EmploymentStatus"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SYNAPSE_HR_Who_is_out')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SYNAP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "HR/SYNAPSE"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "HR",
					"table": "WhoIsOut"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_BAMBOOHR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://dlssltdev.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_BAMBOOHR')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "https://{a59ddcc1352d59ce08383d989c273fd87a66421b}:x@api.bamboohr.com/api/gateway.php/summalinguae/",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "a59ddcc1352d59ce08383d989c273fd87a66421b",
					"password": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HR_Trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Employee Compensation",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Employee Directory",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Employee Job Information",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Employee TimeOff",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Employment Status",
							"type": "PipelineReference"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "Who is out",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-09-29T02:30:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Employee Compensation')]",
				"[concat(variables('factoryId'), '/pipelines/Employee Directory')]",
				"[concat(variables('factoryId'), '/pipelines/Employee Job Information')]",
				"[concat(variables('factoryId'), '/pipelines/Employee TimeOff')]",
				"[concat(variables('factoryId'), '/pipelines/Employment Status')]",
				"[concat(variables('factoryId'), '/pipelines/Who is out')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeCompensation",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-09-28T08:38:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_DATA_ADLS_CURATED_TO_SYNAP_EmployeeCompensation')]"
			]
		}
	]
}